{% extends "algs_site/base.html" %}
{% block content %}

{{algorithm_set_name}} set for {{puzzle_name}}<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Case</th>
        <th scope="col">Image</th>
        <th scope="col">Sequence</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>
    <tbody>
        {% for algorithm in algorithms %}
            <tr>
                <td>{{algorithm.name}}</td>
                <td><img src="{{algorithm.image.url}}" width="100px" height="100px" alt={{algorithm.alt_text}}></td>
                <td>{{algorithm.sequence}}</td>
                <td>{{algorithm.comments}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock content %}
