{% extends "algs_site/base.html" %}
{% block content %}

Algorithm sets for {{puzzle_name}}<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    {% for algorithm_set in algorithm_set_list %}
    <tr>
      <td><a href="{% url 'algs_site:case' puzzle_name algorithm_set.name %}">{{algorithm_set.name}}</a></td>
      <td>
        {% if algorithm_set.image %}
        <img src="{{algorithm_set.image.url}}" width="100px" height="100px" alt={{algorithm_set.alt_text}}>
        {% endif %}
      </td>
      <td>{{algorithm_set.comments}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
