{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'algs_site/favicon.ico' %}">
    <title>Cubing algs</title>

    <link rel="stylesheet" type="text/css" href="{% static 'algs_site/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'algs_site/css/custom.css' %}">
  </head>
  <body class="text-center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'algs_site:puzzle_list' %}">Cubing algs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {# <a class="nav-link" href="{% url 'algs_site:login' %}">Log in with WCA</a>  #}
          <a class="nav-link" href="{% url 'algs_site:new_algorithm' %}">New algorithm</a>
        </div>
      </div>
    </nav>

  <br><br>

  <main role="main" class="inner cover">
    {% block content %}
    {% endblock content %}
  </main>

  <footer class="footer">
    <div class="container">
      This site is in alpha stage. It'll get better with time.
    </div>
  </footer>
</body>
</html>
